<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Dtn_Campaign::campaign"
             title="Campaigns"
             module="Dtn_Campaign"
             sortOrder="100"
             resource="Dtn_Campaign::campaign"
             parent="Magento_Backend::marketing"/>

        <add id="Dtn_Campaign::rule"
             title="Manager Campaign"
             module="Dtn_Campaign"
             sortOrder="10"
             action="dtn_campaign/items"
             resource="Dtn_Campaign::rule"
             parent="Dtn_Campaign::campaign"/>
    </menu>
</config>
