<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <virtualType name="VaxLtd\PageBuilderHotSpotBlock\Block\Adminhtml\ModalCancelButton"
                 type="Magento\PageBuilder\Block\Adminhtml\ContentType\Edit\CancelButton">
        <arguments>
            <argument name="targetName" xsi:type="string">ns = pagebuilder_hot_spot_form, index = hot_spot_item_modal</argument>
        </arguments>
    </virtualType>
    <type name="Magento\PageBuilder\Model\Stage\RendererPool">
        <arguments>
            <argument name="renderers" xsi:type="array">
                <item name="hot_spot_block" xsi:type="object">Magento\PageBuilder\Model\Stage\Renderer\WidgetDirective</item>
            </argument>
        </arguments>
    </type>
</config>
