<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <virtualType name="AppearanceSourceContentGrid" type="Magento\PageBuilder\Model\Source\VisualSelect">
        <arguments>
            <argument name="optionsSize" xsi:type="string">large</argument>
            <argument name="optionsData" xsi:type="array">
                <item name="0" xsi:type="array">
                    <item name="value" xsi:type="string">layout_first</item>
                    <item name="title" xsi:type="string" translate="true">Layout 1</item>
                    <item name="icon" xsi:type="string">VaxLtd_PageBuilderContentGrid::css/images/content-type/appearance/image1.png</item>
                </item>
                <item name="1" xsi:type="array">
                    <item name="value" xsi:type="string">layout_second</item>
                    <item name="title" xsi:type="string" translate="true">Layout 2</item>
                    <item name="icon" xsi:type="string">VaxLtd_PageBuilderContentGrid::css/images/content-type/appearance/image2.png</item>
                </item>
                <item name="2" xsi:type="array">
                    <item name="value" xsi:type="string">layout_third</item>
                    <item name="title" xsi:type="string" translate="true">Layout 3</item>
                    <item name="icon" xsi:type="string">VaxLtd_PageBuilderContentGrid::css/images/content-type/appearance/image3.png</item>
                </item>
            </argument>
        </arguments>
    </virtualType>
</config>
