<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
<!--    <virtualType name="ShipmentGridAggregator" type="Magento\Sales\Model\ResourceModel\Grid">-->
<!--        <arguments>-->
<!--            <argument name="columns" xsi:type="array">-->
<!--                <item name="ship_code" xsi:type="string">sales_shipment.ship_code</item>-->
<!--            </argument>-->
<!--        </arguments>-->
<!--    </virtualType>-->
</config>
