<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="linh" translate="label" sortOrder="10">
            <label>linh</label>
        </tab>
        <section id="order" translate="label" type="text" sortOrder="1200" showInDefault="1" showInWebsite="1"
                 showInStore="1">
            <class>separator-top</class>
            <label>Customs Order</label>
            <tab>linh</tab>
            <resource>Linh_Sales::configuration</resource>
            <group id="invoice" translate="label" type="text" sortOrder="160" showInDefault="1" showInWebsite="0"
                   showInStore="0">
                <label>Auto Invoice</label>
                <field id="enable" translate="label" type="select" sortOrder="1" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>Enable</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
            </group>
        </section>
    </system>
</config>
